<% content_for :title do %>EVENTS<% end %>

<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome to leteFeats</h1>
    <p>Descripttiooonnnnnnnolololololol</p>
  </div>
</div>

<div class="container-fluid">
   <div class="row">
	<img src="http://www.freewebheaders.com/wordpress/wp-content/gallery/bicycle-racing/high-bay-mountain-biking-on-the-dolomites-paths-web-header.jpg" class="img-responsive">
   </div>
</div>