<html>

<body>

<h1> What would you like to add?</h1>

<form action="/new_task" method="get">

<input type="text" name="content of text"

placeholder= "type task here">

<button type="submit" name="operation" value="new task">Add task to Todo List</button>

</form>

</body>

</html>