<html>
<title>Sucky Blog</title>

<h1>Welcome to the WORST BLOG EVER!</h1>

<form action= "/home" method="post">

<% @my_blog.each_with_index do | post, index |  %>

<a href=>"/post_details/<% index%><%= post.title  %></a>


<%= post.time %>
</li>
</ul>



<% end %>



</form>

</html>