div {
	border: 5px; border-style: solid

}





.banner img{
height: 300px;
width:100%

}




.username_info  span{

	color:gray;
}

.feed > img{

	/*float:left;*/
	height:75px;
	width:75px;
	position:relative;
	clear:both;
}

.feed button{


}

.tweet_comment{

	text-align: center;

}

.shoes{
height:200px;
}

.follow_button{
}

.new_to_twitter_box{



}

.you_may_like_header{

	padding:10px 10px 10px 10px;
	border: 0
}





http://i2.cdn.turner.com/nba/nba/dam/assets/160118224425-lebron-james-cleveland-cavaliers-v-golden-state-warriors.1000x563.jpeg










