<html>
<head>
 <title>The Movie Game</title>
 <h1>Welcome to the Movie Game</h1>
</head>
<body>

</body>
</html>


<form action="/results" method="post">
<input type="text" name="movie" placeholder="movie name">

<button type="submit">Search</button>
</form>