<title>Movie Game</title>

<h1>Your Movies</h1>


<body>

  <% @result.each do |movie| %>

<!--   <%= movie.title %> -->

  <img src="<%=movie.poster %>" height="240" width="240" margin-left: auto;
  margin-right: auto;>

<!--   <%= movie.release_date%> -->
	<% end %>

</body>



