
<h1>Welcome to the Movie Game!</h1>

<h2>Add your keyword:</h2>

<form action="/create_task" method="POST">
	<input type="string" name="content" placeholder="Keyword">

	<button type="submit">Submit</button>
</form>