


 <section>

<div style="position:relative; height:0; padding-bottom:56.25%; width:100%"><iframe style="position:absolute; top:0; left:0; width:100%; height:100%;" src="https://media.flixel.com/cinemagraph/w699rmwdlfe7vydmr6aw?hd=true&forceGif=true" frameborder="0" allowfullscreen></iframe></div>
	</div>
	<div class= "col-md-8" style="color:white">
	 <p class="pull-right"><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
	</div>
 </div>
 </section>

<section>
 <div class="row">

	<!-- BADASS IMAGE -->
 	<div class= "col-md-6" style="">
		<img src="https://dyzup8v06s4q5.cloudfront.net/ver/static/images/marketing/homepage-takeovers/tiles/lose-weight-2x.jpg" class="img-responsive">
	</div>

	<!-- JUMBOTRON -->
	<div class= "col-md-6" style="">

		<div class="jumbotron">
  <h1>Ready to compete?</h1>
  <p>Get signed up below...</p>
  <p><a><button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to 'Sign up', new_user_registration_path %></button></a></p>
</div>

	</div>
</div>
</section>

<section>
 <div class="row">
 	<div class= "col-md-6" style="">

	<div class="jumbotron">
  		<h1>Mobile Friendly</h1>
  		<p>Access on the go.</p>
  		<p></p>
	</div>

	</div>

	<div class= "col-md-6" style="">

		<img src="https://dyzup8v06s4q5.cloudfront.net/ver/static/images/marketing/homepage-takeovers/tiles/heart-health-2x.v2.jpg" class="img-responsive">

	</div>
</div>
</section>
<!-- insert logo row here -->

<!-- insert footer row here -->





