
<!-- USERS COUNTED BELOW -->

<!-- <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
 -->
<div class="container-fluid">
   <div class="row">
	<img src="http://www.freewebheaders.com/wordpress/wp-content/gallery/swimming/olympic-swimming-sport-races-header.jpg" class="img-responsive">
   </div>
</div>

<div class="container">
  <div class="row">
  	<div class="col-xs-4">
  	</div>
	<div class="col-xs-4">

	  <div class="jumbotron">

	    <h1>Welcome to leteFeats</h1>

	    <p></p>
	   </div>
	  </div>
   	<div class="col-xs-4">
  	</div>
   </div>
</div>




<div class="container">
   <div class="row">
	<img src="http://www.freewebheaders.com/wordpress/wp-content/gallery/bicycle-racing/extreme-mountain-bike-racing-sport-web-header.jpg" class="img-responsive">
   </div>
</div>




