<h3>Welcome to leteFeats</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<!--
<div class="container-fluid" <img src="https://web3canvas.com/wp-content/uploads/2014/02/littlevisuals-high-quality-hd-banner-images-stock-photos-free-laptop-topview-download.jpg">
</div> -->

